@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: auto fit-content(3rem);
  grid-template-areas: "body" "footer";
  height: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

a:hover,
a:active {
  text-decoration: underline;
}

.page-content {
  grid-area: body;
  margin-top: 120px;
  padding: 2rem;
  width: 100%;
  max-width: 50rem;
  margin: 120px auto 0 auto;
}

.page-header {
  text-align: center;
}

/* Navbar header Styles  */

header {
  background-color: aliceblue;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

header h1 {
  font-family: "Yellowtail", cursive;
  font-weight: lighter;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

header li {
  margin: 0 1rem;
}

/* Main page Styles  */

.carousel-container {
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-image {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 600ms ease-in-out, opacity 700ms ease-in;
}

.carousel-image:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  /* z-index: -1; */
}

/* Cart Styles  */

.cart-item {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;
}

.cart-item div {
  width: 50%;
  text-align: right;
}

.cart-item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.cart-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.cart-total {
  padding: 2rem 4rem;
  text-align: right;
}

.cart-flexbox,
.prints-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Prints Styles  */

.print-item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.print-item {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px dotted rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
}

/* Gallery Styles  */

.gallery-piece {
  width: 70%;
  margin: 8rem auto;
  padding: 2rem;
  text-align: center;
}

.gallery-piece img {
  width: 100%;
  border: 5px outset burlywood;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
}

.art-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.art-division:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -1.2rem;
  font-size: 1.5rem;
  padding: 0 0.25rem;
  background: white;
}

/* Footer Styles  */

footer {
  grid-area: footer;
  border-top: 2px solid;
  padding: 2rem;
  text-align: center;
}
