@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700;900&display=swap");

:root {
  --white: #f2f2f0;
  --light: #ff5e3a;
  --medium: #2c365d;
  --dark: #272e4f;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--medium);
}

::-webkit-scrollbar-track {
  background: var(--white);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--medium) var(--white);
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--white);
  color: var(--dark);
  background-image: url(./images/brushed-alum.png);
  font-family: "Noto Sans SC", sans-serif;
}

#root {
  height: 100%;
}

#root > div:first-of-type {
  display: grid;
  grid-template-rows: auto fit-content(3rem);
  grid-template-areas: "body" "footer";
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--dark);
}

i {
  color: var(--dark);
}

a:visited {
  color: initial;
}

a:hover,
a:active {
  text-decoration: underline;
}

label {
  font-family: inherit;
  color: var(--medium);
  font-size: 1rem;
  opacity: 0.6;
}

input {
  font-size: 1.1rem;
  color: inherit;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  /* border-radius: 4px; */
  font-family: inherit;
  /* border-width: 1px; */
  border: none;
  border-bottom: 1px solid var(--dark);
  /* border-width: 0; */
  background-color: inherit;
  transition: box-shadow 200ms ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 -1px 0 0 inset var(--dark), 0 1px 0 0 var(--dark);
}

/* input:focus {
  transform: scale(0.9);
  opacity: 0.7;
  transition: all 200ms ease;
} */

input[type="file"] {
  margin-bottom: 2rem;
}

input[type="number"] {
  display: inline-block;
  width: 60px;
  height: 1.7rem;
  margin: 0;
  text-indent: 6px;
  margin-left: 0.5rem;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}

textarea {
  font-family: inherit;
  color: inherit;
  width: 100%;
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem;
  /* border-radius: 4px; */
  border: none;
  border-bottom: 1px solid var(--dark);
  border-top: 1px solid var(--dark);

  background-color: inherit;
  resize: none;
  transition: all 200ms ease;
}

button {
  width: 160px;
  margin: 1rem auto 0;
  padding: 0.25rem 0;
  /* border-radius: 8px; */
  cursor: pointer;
  color: inherit;
  background-color: var(--white);
  font-size: 1.2rem;
  font-family: inherit;
  display: block;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
}

button:hover,
button:focus {
  background-color: white !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
}

button:focus {
  outline: none;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.alert {
  height: 5rem;
  opacity: 1;
  overflow: hidden;
  display: block;
  padding: 0.5rem;
  text-align: center;
}

.page-content {
  position: relative;
  padding: 2rem;
  width: 97vw;
  max-width: 70rem;
  margin: 88px auto 0 auto;
}

.edit-transition {
  margin-top: 3rem;
}

.page-header {
  text-align: center;
  margin-bottom: 3rem;
}

/* Navbar header Styles  */

header {
  background-color: aliceblue;
  color: inherit;
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

header h1 {
  font-family: "Yellowtail", cursive;
  font-weight: lighter;
  margin: 0;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

header li {
  margin: 0 1rem;
  padding: 1rem;
}

.menu {
  position: absolute;
  z-index: -1;
  top: 119px;
  right: 0;
  background-color: aliceblue;
  transform: translateX(101%);
  transition: transform 200ms ease;
  border: 1px solid black;
  border-right: none;
  border-radius: 0 0 0 8px;
}

.menu__burger-icon {
  width: 33px;
  position: fixed;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.menu__burger-icon span {
  position: relative;
  display: block;
  background-color: var(--dark);
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
  transform-origin: 6px 5px;
  transition: all 200ms ease;
}

.menu__burger-icon span:first-child {
  transform-origin: 0;
}

@media (min-width: 800px) {
  header ul {
    flex-direction: row;
  }

  header li {
    padding: 0;
  }

  .menu__burger-icon {
    display: none;
  }

  .menu {
    transform: none !important;
    position: static;
    border: none;
  }
}

/* Main page Styles  */

.carousel-container {
  height: 100%;
  grid-area: body;
  margin: 6rem auto 1rem;
  position: relative;
  width: 1080px;
  max-width: 100%;
  object-fit: contain;
}

.alice-carousel {
}

.alice-carousel > div {
  box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.3);
  width: auto !important;
}

.alice-carousel__wrapper {
  /* width: fit-content !important; */
}

.alice-carousel__stage-item.__active {
  max-width: 100vw !important;
  max-height: 80vh !important;
}

.carousel-image {
  max-width: 100vw !important;
  max-height: 80vh !important;
}

.alice-carousel__stage-item.__active:nth-child(2) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(4) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(6) > .carousel-image {
  animation: ken-burns 10000ms linear normal !important;
}

.alice-carousel__stage-item.__active:nth-child(3) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(5) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(7) > .carousel-image {
  animation: ken-burns 10000ms linear reverse !important;
}

@keyframes ken-burns {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(20px, -30px) scale(1.2);
  }
}

/* About Me Style  */

.about-img {
  background-image: url(./images/drawing-board.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  min-height: 40vh;
  object-fit: cover;
  filter: brightness(0.7) contrast(200%);
  box-shadow: 0 0 16px 16px white inset;
}

/* Cart Styles  */

.cart-item {
  background: var(--white);
  height: 300px;
  padding: 1rem;
  opacity: 1;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.cart-item div {
  width: 50%;
  text-align: right;
}

.cart-item h2 {
  text-align: center;
}

.cart-item h3 {
  display: inline;
  margin-left: 1rem;
}

.cart-item p {
  margin: 0.5rem;
  margin-right: 0;
}

.cart-item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  align-self: center;
}

.cart-item button {
  display: inline-block;
  width: auto;
  margin: 0;
  width: auto;
  border: none;
  background-color: inherit;
  transition: color 200ms ease;
  box-shadow: none;
}

.cart-item button:hover {
  color: var(--medium);
  background-color: inherit !important;
}

.cart-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.cart-total {
  padding: 2rem 4rem;
  text-align: right;
}

.cart-total h1 {
  display: inline;
}

.cart-flexbox,
.prints-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.shipping-form {
  text-align: right;
  padding: 2rem;
  height: 275px;
  position: relative;
  width: 80%;
  margin: auto;
}

.shipping-form button {
  position: absolute;
  top: 2rem;
  right: 0;
  width: auto;
  border: none;
  background-color: inherit;
  transition: color 200ms ease;
  box-shadow: none;
}

.shipping-form button:hover {
  color: var(--medium);
  background-color: inherit !important;
}

.shipping-form i {
  margin: 0;
}

.info-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.info-grid p {
  margin: 0.7rem 0;
}

.shipping-grid,
.email-grid {
  text-align: left;
  padding: 0 1rem;
  overflow: hidden;
}

.shipping-grid input,
.email-grid input {
  display: block;
  width: 100%;
  margin: 0.2rem 0;
}

.city-state {
  display: grid;
  grid-template-columns: auto 12% 19%;
}

.city-state input {
  display: inline-block;
  margin: 0.2rem 0;
}

.cart-modal__grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cart-modal--buyer,
.cart-modal--shipping {
  text-align: right;
  margin: 0 auto;
}

.cart-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white) url(./images/brushed-alum.png);
  width: 40rem;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
}

.purchase-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white) url(./images/brushed-alum.png);
  width: 30rem;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

/* Contact page styles  */

.contact-img {
  background-image: url(./images/matt-portrait.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  min-height: 40vh;
  object-fit: cover;
  filter: brightness(0.89) contrast(103%);
  box-shadow: 0 0 16px 16px white inset;
}

.email-form {
  width: 500px;
  margin: 2rem auto;
}

/* Prints Styles  */

.progress {
  text-align: center;
  margin: 5rem auto;
}

.print-item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.print-item {
  position: relative;
  background: var(--white);
  display: inline-block;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 1;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 150ms ease, box-shadow 150ms ease;
}

.print-item:hover {
  transform: scale(1.05);
  transform-origin: center;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0ms !important;
}

.sold-out {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.sold-out h2 {
  background: var(--medium);
  transform: translateY(250px);
  border-top: 2px outset var(--light);
  border-bottom: 2px outset var(--light);
}

.print-item.zero-stock:hover {
  transform: none;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
  cursor: initial;
}

.print-modal {
  background: url(./images/brushed-alum.png) var(--white);
  opacity: 1;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
  width: 30rem;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

.print-modal__flex {
  display: flex;
  justify-content: space-evenly;
}

.close-modal {
  box-sizing: content-box;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0 5px 0 6px;
  border-radius: 4px;
  width: 22px;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  cursor: pointer;
}

.close-modal:hover {
  background: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.print-modal img {
  width: 100%;
  display: block;
  margin: 1rem auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* Gallery Styles  */

.gallery-piece {
  width: 80%;
  max-height: 75vh;
  margin: 5rem auto;
  text-align: center;
}

.gallery-piece img {
  object-fit: contain;
  max-height: 58vh;
  max-width: 100%;
  border: 5px outset burlywood;
  box-shadow: 10px 0 15px 2px rgba(0, 0, 0, 0.2),
    -10px 0 15px 2px rgba(0, 0, 0, 0.2);
}

.plaque {
  background: whitesmoke;
  color: var(--dark);
  padding: 0 0.5rem;
  text-align: left;
  margin: 1rem 3% 0 50%;
  width: 300px;
  border: 3px outset white;
  border-radius: 4px;
  font-family: sans-serif;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.plaque h3 {
  margin: 0.5rem 0 0.25rem;
}

.plaque-medium {
  margin-top: 0;
  font-size: 0.9rem;
}

.plaque-description {
  white-space: pre-line;
  font-size: 00.8rem;
  margin-bottom: 0.5rem;
}

.art-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.art-division:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -1.2rem;
  font-size: 1.5rem;
  padding: 0 0.23rem 0 0.28rem;
  background: url(./images/brushed-alum.png) var(--white);
}

/* Edit Page Styles  */

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
}

.nav-buttons button {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-top: none;
  border-bottom: none;
  background-color: inherit;
  box-shadow: none;
}

.nav-buttons button:hover {
  background: (--white);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.nav-buttons button:focus {
  background: inherit !important;
}

.nav-buttons a:hover {
  text-decoration: none;
}

.upload-prints,
.upload-gallery,
.update-stock,
.edit-gallery {
  max-width: 100%;
  width: 66rem;
}

.upload-form {
  width: 90%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.upload-form.prints {
  height: 450px;
}

.upload-form.prints form {
  padding: 1rem;
}

.upload-form.prints label {
  display: inline-block;
  width: auto;
}

.upload-prints--stock {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 1rem 1rem 2rem;
}

.upload-prints--stock label {
  margin-right: 0.5rem;
}

.img-preview {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: block;
  text-align: center;
}

.upload-form img {
  height: 100%;
  max-width: 90%;
  transform: translateX(-50%);
  object-fit: contain;
  object-position: top;
  position: absolute;
}

.upload-form button {
  /* width: 70%; */
  /* margin: 0 auto; */
  /* padding: 0.25rem 0; */
  /* border-radius: 8px; */
  /* cursor: pointer; */
}

.update-stock h2 {
  text-align: center;
}

.print-stock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.print-stock-item {
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 200px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.print-stock-item h5 {
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.print-stock img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.print-stock ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.print-stock li {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
}

.print-stock li:last-of-type {
  margin: 0.5rem 0 0 0;
  justify-content: space-around;
}

.print-stock--buttons {
  text-align: center;
}

.print-stock--buttons button {
  display: inline-block;
  margin: 1rem;
  /* width: 160px; */
  /* width: 20%; */
  /* padding: 0.25rem 0; */
}

.update-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
}

.update-preview {
  margin: 1rem;
  height: 100px;
  width: 100px;
  object-fit: cover;
  transition: transform 100ms ease, box-shadow 100ms ease;
}

.update-preview:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.update-gallery--grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 500px;
}

.update-gallery--wrapper {
  position: relative;
  height: 500px;
}

.update-gallery--form {
  position: absolute;
  opacity: 0;
}

.update-gallery--update {
  padding: 1rem 2rem;
  position: relative;
}

.edit-image {
  min-width: 450px;
  height: 450px;
  width: 100%;
  object-fit: contain;
}

.logout {
  position: absolute;
  bottom: -3.5rem;
  right: 2rem;
  /* width: 200px; */
  /* font-family: inherit; */
  /* border-radius: 8px; */
  /* padding: 0.25rem 0; */
  /* cursor: pointer; */
  z-index: 2;
}

/* Footer Styles  */

footer {
  background: var(--white);
  grid-area: footer;
  border-top: 2px solid;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.login-toast {
  position: absolute;
  z-index: -1;
  margin: auto;
  left: 34%;
  transform: translateY(-76%);
  transition: transform 200ms ease, z-index 100ms linear;
}

.slide-up {
  transform: translateY(-200%);
  z-index: 1;
}

/* standard fade-in and out transition  */

.fadein-enter {
  opacity: 0;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 200ms ease;
}

.fadein-enter-done {
  opacity: 1;
  transition-delay: 0ms !important;
}

.fadein-exit {
  opacity: 1;
}

.fadein-exit.fadein-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

.fadein-exit-done {
  opacity: 0;
}

/* Alert message transition  */

.fade-enter {
  opacity: 0;
  height: 0rem;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  height: 6rem;
  transition: opacity 500ms ease, height 500ms ease;
}

.fade-enter-done {
  opacity: 1;
  height: 6rem;
}

.fade-exit {
  opacity: 1;
  height: 6rem;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  height: 0;
  transition: opacity 500ms ease, height 500ms ease;
}

.fade-exit-done {
  opacity: 0;
  height: 0;
}

/* page swipe transition  */

.slide-enter {
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide-enter ~ footer {
  opacity: 0;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 100ms ease-out 100ms;
}

.slide-enter.slide-enter-active ~ footer {
  opacity: 0;
  /* transition: opacity 100ms ease-out 200ms; */
}

.slide-enter-done {
  position: relative;
  opacity: 1;
}

.slide-enter-done ~ footer {
  opacity: 1;
  transition: opacity 400ms ease;
}

.slide-exit {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  opacity: 1;
}

.slide-exit ~ footer {
  opacity: 0;
  /* transition: opacity 100ms ease; */
}

.slide-exit.slide-exit-active {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 100ms ease-in;
}

.slide-exit.slide-exit-active ~ footer {
  opacity: 0;
  /* transition: opacity 100ms ease-in; */
}

.slide-exit-done {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.slide-exit-done ~ footer {
  opacity: 0;
}
