@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700;900&display=swap");

:root {
  --white: #f2f2f0;
  --light: #ff5e3a;
  --medium: #2c365d;
  --dark: #272e4f;
}
/* :root {
  --white: #f2f2f0;
  --light: #ff5e3a;
  --medium: #2c365d;
  --dark: #272e4f;
} */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--medium);
}

::-webkit-scrollbar-track {
  background: var(--white);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--medium) var(--white);
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--white);
  color: var(--dark);
  background-image: url(./images/brushed-alum.png);
  font-family: "Noto Sans SC", sans-serif;
}

#root {
  /* display: grid;
  grid-template-rows: auto fit-content(3rem);
  grid-template-areas: "body" "footer"; */
  height: 100%;
}

#root > div:first-of-type {
  display: grid;
  grid-template-rows: auto fit-content(3rem);
  grid-template-areas: "body" "footer";
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--dark);
}

i {
  color: var(--dark);
  margin-right: 1rem;
}

a:visited {
  color: initial;
}

a:hover,
a:active {
  text-decoration: underline;
}

.alert {
  height: 5rem;
  opacity: 1;
  overflow: hidden;
  display: block;
  padding: 0.5rem;
  text-align: center;
}

.page-content {
  position: relative;
  /* grid-area: body; */
  padding: 2rem;
  width: 97vw;
  max-width: 70rem;
  margin: 88px auto 0 auto;
}

.page-header {
  text-align: center;
}

/* Navbar header Styles  */

header {
  background-color: aliceblue;
  color: inherit;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

header h1 {
  font-family: "Yellowtail", cursive;
  font-weight: lighter;
  margin: 0;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

header li {
  margin: 0 1rem;
  padding: 1rem;
}

.menu {
  position: absolute;
  z-index: -1;
  top: 119px;
  right: 0;
  background-color: aliceblue;
  transform: translateX(101%);
  transition: transform 200ms ease;
  border: 1px solid black;
  border-right: none;
  border-radius: 0 0 0 8px;
}

.menu__burger-icon {
  width: 33px;
  position: fixed;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.menu__burger-icon span {
  position: relative;
  display: block;
  background-color: var(--dark);
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
  transform-origin: 6px 5px;
  transition: all 200ms ease;
}

.menu__burger-icon span:first-child {
  transform-origin: 0;
}

@media (min-width: 800px) {
  header ul {
    flex-direction: row;
  }

  header li {
    padding: 0;
  }

  .menu__burger-icon {
    display: none;
  }

  .menu {
    transform: none !important;
    position: static;
    border: none;
  }
}

/* Main page Styles  */

.landing-page {
  position: relative;
  grid-area: body;
  width: 100%;
  height: 100%;
  margin-top: 120px;
}

.carousel-container {
  width: 100%;
  height: 100%;
  max-width: 90vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-shadow: 30px 0 30px 0 rgba(0, 0, 0, 0.1),
    -30px 0 30px 0 rgba(0, 0, 0, 0.1);
}

.alice-carousel,
.alice-carousel div {
  height: 100%;
  width: 100%;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn,
.alice-carousel__prev-btn *,
.alice-carousel__next-btn * {
  height: 50px !important;
}

.carousel-image {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  object-fit: cover;
  object-position: top center;
}

.alice-carousel__stage-item.__active:nth-child(2) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(4) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(6) > .carousel-image {
  animation: ken-burns 10000ms linear normal !important;
}

.alice-carousel__stage-item.__active:nth-child(3) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(5) > .carousel-image {
  animation: ken-burns 10000ms linear reverse !important;
}

@keyframes ken-burns {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(20px, -30px) scale(1.2);
  }
  /* 100% {
    transform: translate(35px, -60px) scale(1.5);
  } */
}

/* About Me Style  */

.about-img {
  background-image: url(./images/drawing-board.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  min-height: 40vh;
  object-fit: cover;
  filter: brightness(0.7) contrast(200%);
  box-shadow: 0 0 16px 16px white inset;
}

/* Cart Styles  */

.cart-item {
  background: var(--white);
  padding: 1rem;
  opacity: 1;
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.cart-item div {
  width: 50%;
  text-align: right;
}

.cart-item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.cart-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.cart-total {
  padding: 2rem 4rem;
  text-align: right;
}

.cart-flexbox,
.prints-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.shipping-form {
  text-align: right;
  padding: 2rem 4rem;
  height: 270px;
  position: relative;
}

.shipping-form button {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
}

.info-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.info-grid p {
  margin: 0.7rem 0;
}

.shipping-grid,
.email-grid {
  text-align: left;
  padding: 0 1rem;
}

.shipping-grid input,
.email-grid input {
  display: block;
  width: 100%;
  margin: 0.2rem 0;
}

.city-state {
  display: grid;
  grid-template-columns: auto 12% 19%;
}

.city-state input {
  display: inline-block;
  margin: 0.2rem 0;
}

.shipping-div {
  text-align: right;
  width: 40%;
  margin: auto;
}

.shipping-div p {
  line-height: 0.5rem;
}

.cart-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 40rem;
  padding: 1rem;
  text-align: center;
}

.paypal {
  width: 40%;
  margin: auto;
}

.paypal-button-number-1 {
  display: none !important;
}

.purchase-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 30rem;
  padding: 1rem;
  text-align: center;
}

/* Contact page styles  */

.contact-img {
  background-image: url(./images/matt-portrait.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  min-height: 40vh;
  object-fit: cover;
  filter: brightness(0.89) contrast(103%);
  box-shadow: 0 0 16px 16px white inset;
}

.email-form {
  width: 500px;
  margin: 2rem auto;
}

.email-form input,
.email-form textarea,
.email-form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-family: "Noto Sans SC", sans-serif;
  color: inherit;
  font-size: 1.3rem;
  border-width: 1px;
}

.email-form input {
  height: 2rem;
}

.email-form button:active,
.email-form button:focus {
  outline: none;
  background-color: var(--white);
}

/* Prints Styles  */

.progress {
  text-align: center;
  margin: 5rem auto;
}

.print-item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.print-item button {
  display: block;
  margin: auto;
}

.print-item {
  position: relative;
  background: var(--white);
  display: inline-block;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 1;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.sold-out {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.sold-out h2 {
  background: var(--medium);
  transform: translateY(250px);
  border-top: 2px outset var(--light);
  border-bottom: 2px outset var(--light);
}

.print-modal {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
  background-color: white;
  width: 30rem;
}

.print-modal img {
  width: 100%;
  display: block;
  margin: 1rem auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/* Gallery Styles  */

.gallery-piece {
  width: 80%;
  margin: 5rem auto;
  text-align: center;
}

.gallery-piece img {
  width: 100%;
  max-width: 75vh;
  border: 5px outset burlywood;
  box-shadow: 10px 0 15px 2px rgba(0, 0, 0, 0.2),
    -10px 0 15px 2px rgba(0, 0, 0, 0.2);
  /* box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5); */
}

.plaque {
  background: whitesmoke;
  color: var(--dark);
  padding: 0 1rem;
  text-align: left;
  margin: 1rem 3% 0 50%;
  border: 3px outset white;
  border-radius: 4px;
  font-family: sans-serif;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.plaque h3 {
  margin-bottom: 0.5rem;
}

.plaque h6 {
  margin-top: 0;
}

.art-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.art-division:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -1.2rem;
  font-size: 1.5rem;
  padding: 0 0.23rem 0 0.28rem;
  background: url(./images/brushed-alum.png) var(--white);
}

.description {
  white-space: pre-line;
}

/* Edit Page Styles  */

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.7); */
}

.nav-buttons button {
  padding: 1rem 2rem;
  background-color: inherit;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}

.nav-buttons button:hover {
  /* background: inherit; */
  background-color: var(--white);
  transition: background-color 200ms ease;
}

.nav-buttonbutton:active {
  outline: -webkit-focus-ring-color auto 1px;
}

/* .nav-buttons button::after {
  content: "";
  height: 75px;
  padding: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.nav-button button::before {
  content: "";
  padding: 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.7);
} */

.upload-gallery h2,
.edit-gallery h2,
.update-stock h2,
.upload-prints h2 {
  margin-top: 3rem;
  text-align: center;
}

.upload-form {
  width: 90%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.upload-form input,
.upload-form textarea,
.upload-form label,
.upload-form button {
  font-size: 1.2rem;
  color: inherit;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-family: "Noto Sans SC", sans-serif;
}

.upload-form.prints button {
  margin-top: 2rem;
}

.upload-form input:not([type="file"]) {
  height: 2rem;
  border-width: 1px;
}

input.stock {
  width: 60px;
  display: inline-block;
}

.upload-form.prints {
  height: 450px;
}

.upload-form.prints form {
  padding: 1rem;
}

.upload-form.prints label {
  display: inline-block;
  width: auto;
}

.upload-prints--stock {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.img-preview {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: block;
  text-align: center;
}

.upload-form img {
  height: 100%;
  max-width: 90%;
  transform: translateX(-50%);
  object-fit: contain;
  object-position: top;
  /* width: 100%; */
  /* margin: 1rem auto; */
  /* display: block; */
  position: absolute;
}

.upload-form button {
  width: 70%;
  margin: 0 auto;
  padding: 0.25rem 0;
  border-radius: 8px;
  cursor: pointer;
}

.update-stock h2 {
  text-align: center;
}

.print-stock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.print-stock-item {
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 172px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.print-stock-item h5 {
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.print-stock img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.print-stock ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.print-stock li {
  display: flex;
  justify-content: space-between;
}

.print-stock li:last-of-type {
  margin: 0.5rem 0 0 0;
  justify-content: space-around;
}

.print-stock input {
  width: 40%;
  border-radius: 4px;
  font-family: "Noto Sans SC", sans-serif;
  color: inherit;
  /* font-size: 1.3rem; */
  border-width: 1px;
}

.print-stock input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}

.print-stock--buttons {
  text-align: center;
}

.print-stock--buttons button {
  font-family: inherit;
  margin: 1rem;
  width: 20%;
  border-radius: 8px;
  padding: 0.25rem 0;
  cursor: pointer;
}

.prints .quantity {
  display: inline-block;
  width: 15%;
  text-align: right;
}

.update-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
}

.update-preview {
  margin: 1rem;
  height: 100px;
  width: 100px;
  object-fit: cover;
  transition: transform 100ms ease, box-shadow 100ms ease;
}

.update-preview:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.update-gallery--grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 500px;
}

.update-gallery--wrapper {
  position: relative;
  height: 500px;
}

.update-gallery--form {
  position: absolute;
  opacity: 0;
  text-align: center;
}

.update-gallery--update {
  width: 100%;
  /* margin: 0 auto 2rem; */
  padding: 1rem 2rem;
  position: relative;
}

/* .update-gallery--form label,
.update-gallery--form button {
  display: inline-block;
  width: 50%;
} */

.update-gallery--update label,
.update-gallery--update input,
.update-gallery--update textarea
/* .update-gallery--update button  */ {
  font-family: inherit;
  color: inherit;
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

.update-gallery--update input,
.update-gallery--update textarea {
  outline: none;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid var(--dark);
}

.update-gallery--update input {
  height: 2rem;
}

.update-gallery--update button {
  font-family: inherit;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 0.25rem 0;
  border-radius: 8px;
}

/* .update-gallery--update button:last-of-type {
  position: absolute;
  bottom: 3rem;
  width: calc(100% - 2rem);
} */

.edit-image {
  min-width: 450px;
  height: 450px;
  width: 100%;
  object-fit: contain;
}

.logout {
  position: absolute;
  bottom: -3rem;
  right: 2rem;
  width: 200px;
  font-family: inherit;
  border-radius: 8px;
  padding: 0.25rem 0;
  cursor: pointer;
  z-index: 2;
}

/* Footer Styles  */

footer {
  background: white;
  grid-area: footer;
  border-top: 2px solid;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.login-toast {
  position: absolute;
  z-index: -1;
  margin: auto;
  left: 34%;
  transform: translateY(-76%);
  transition: transform 200ms ease, z-index 100ms linear;
}

.slide-up {
  transform: translateY(-200%);
  z-index: 1;
}

/* standard fade-in and out transition  */

.fadein-enter {
  opacity: 0;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fadein-enter-done {
  opacity: 1;
}

.fadein-exit {
  opacity: 1;
}

.fadein-exit.fadein-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}

.fadein-exit-done {
  opacity: 0;
}

/* Alert message transition  */

.fade-enter {
  opacity: 0;
  height: 0rem;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  height: 6rem;
  transition: opacity 500ms ease, height 500ms ease;
}

.fade-enter-done {
  opacity: 1;
  height: 6rem;
}

.fade-exit {
  opacity: 1;
  height: 6rem;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  height: 0;
  transition: opacity 500ms ease, height 500ms ease;
}

.fade-exit-done {
  opacity: 0;
  height: 0;
}

/* page swipe transition  */

.slide-enter {
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide-enter ~ footer {
  opacity: 0;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 150ms ease-out 150ms;
}

.slide-enter.slide-enter-active ~ footer {
  opacity: 0;
  /* transition: opacity 150ms ease-out 300ms; */
}

.slide-enter-done {
  position: relative;
  opacity: 1;
}

.slide-enter-done ~ footer {
  opacity: 1;
  transition: opacity 150ms ease;
}

.slide-exit {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  opacity: 1;
}

.slide-exit ~ footer {
  opacity: 0;
  /* transition: opacity 100ms ease; */
}

.slide-exit.slide-exit-active {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 150ms ease-in;
}

.slide-exit.slide-exit-active ~ footer {
  opacity: 0;
  /* transition: opacity 150ms ease-in; */
}

.slide-exit-done {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.slide-exit-done ~ footer {
  opacity: 0;
}
