/* About Me Style  */

.about-img {
  background-image: url(../images/drawing-board.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  min-height: 40vh;
  object-fit: cover;
  filter: brightness(0.7) contrast(200%);
  box-shadow: 0 0 16px 16px white inset;
}

.about-content__grid {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
}

.about-content {
  margin: 2rem auto;
  position: relative;
  /* width: 60%; */
}

.about-content .brand-backdrop {
  min-width: 350px;
  max-width: 350px;
  height: 350px;
}

.about-content:nth-of-type(3) .brand-backdrop {
  transform: skew(-7deg) rotate(-6deg);
}

.about-content:nth-of-type(6) .brand-backdrop {
  transform: skew(4deg) rotate(8deg);
}

.about-content:nth-of-type(6) .brand-backdrop::after {
  transform: rotate(-10deg) skew(-15deg);
}

.about-content img {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
}

.about-content span {
  position: absolute;
  color: var(--light-two);
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.about-text {
  margin: 2rem 0;
  /* grid-column: 3; */
  /* width: 90%; */
  padding: 0 2rem;
}

@media (max-width: 850px) {
  .about-content__grid {
    grid-template-columns: none;
    margin-top: 1rem;
  }

  .about-content:nth-of-type(2) {
    grid-row: 4;
  }

  .about-text {
    max-width: 600px;
    margin: 2rem auto;
  }
}

@media (max-width: 450px) {
  .about-content__grid {
    margin: 0 0 2rem 0;
    overflow: hidden;
  }

  .about-text {
    padding: 0 1rem;
  }

  .about-content .brand-backdrop {
    min-width: 100%;
    max-width: 100%;
    left: 0;
  }
}
