/* Cart Styles  */

.empty-cart {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 500px;
}

.empty-cart ~ a > button {
  color: var(--dark);
}

.cart-item {
  background: var(--white);
  position: relative;
  height: 300px;
  width: 80%;
  padding: 1rem;
  margin: 1rem 0;
  opacity: 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.cart-item--info__wrapper {
  height: 100%;
  width: 50%;
  text-align: right;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cart-item h2 {
  text-align: center;
}

.cart-item h3 {
  display: inline;
  margin-left: 1rem;
}

.cart-item h4,
.cart-item h5 {
  margin: 0.25rem 0;
}

.cart-item--size {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 0.875;
}

.cart-item--quantity {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;
  /* height: 100%; */
}

.cart-item__quantity-span {
  height: 1.7rem;
  display: flex;
  align-items: flex-end;
}

.cart-item--img__wrapper {
  width: 100%;
}

.cart-item--img__wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  align-self: center;
  cursor: zoom-in;
}

.cart-item button {
  display: inline-flex;
  width: auto;
  margin: 0;
  width: auto;
  border: none;
  background-color: inherit;
  transition: color 200ms ease;
  box-shadow: none;
  padding: 0;
  align-self: flex-end;
}

.cart-item button:hover {
  color: var(--medium);
  background-color: inherit !important;
}

.cart-item button::after {
  display: none;
}

.cart-item button:active {
  animation: none;
}

.remove-cart-item {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
}

.cart-preview__wrapper {
  position: fixed;
  inset-block: 90px 20px;
  max-width: 90%;
}

.cart-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 6px outset burlywood;
}

.cart-preview ~ .MuiSvgIcon-root {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  border: 1px solid var(--dark);
  cursor: pointer;
  transition: background-color 150ms ease;
}

.cart-preview ~ .MuiSvgIcon-root:hover {
  background-color: var(--white);
}

.cart-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.cart-total {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto auto auto auto;
}

.cart-total .underline {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  width: 100%;
}

.cart-total button {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.cart-total h3 {
  grid-row: 3;
  grid-column: 1;
}

.cart-total h3:last-of-type {
  grid-column: 2;
}

.cart-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.shipping-form__wrapper {
  position: relative;
  width: 80%;
  margin: 2rem auto;
}

.shipping-form__wrapper > div {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
}

input#state {
  text-transform: uppercase;
}

.email-grid {
  grid-column-start: 1;
}

.shipping-grid {
  grid-column-start: 2;
}

.shipping-form button {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  border: none;
  background-color: inherit;
  transition: color 200ms ease;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.shipping-form button:hover {
  color: var(--medium);
  background-color: inherit !important;
}

.shipping-form button::after {
  display: none;
}

.shipping-form button:active {
  animation: none;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.info-grid p {
  margin: 0.7rem 0;
}

.info-grid input {
  line-height: 1.4rem;
}

.shipping-grid,
.email-grid {
  overflow: hidden;
}

.city-state {
  display: grid;
  grid-template-columns: auto 12% 20%;
}

.city-state input {
  display: inline-block;
  margin: 0.2rem 0;
}

.cart-modal__grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cart-modal--buyer,
.cart-modal--shipping {
  text-align: right;
  margin: 0 auto;
}

.cart-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white) url(../images/brushed-alum.webp);
  width: 40rem;
  padding: 2rem 2rem 0;
  text-align: center;
  border-radius: 8px;
}

.purchase-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white) url(../images/brushed-alum.webp);
  width: 30rem;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 850px) {
  .cart-item {
    width: 85%;
    padding: 1rem;
  }

  .cart-item--info__wrapper h4 {
    margin: 0;
  }

  .shipping-form__wrapper {
    width: 100%;
    padding: 0 1rem;
  }

  .city-state {
    grid-template-columns: auto 15% 25%;
  }

  .shipping-form button {
    right: 2rem;
  }
  
  .cart-total {
    width: 100%;
    padding: 0 2rem;
  }
}

@media (max-width: 650px) {
  
  .info-grid {
    display: block;
  }
}

@media (max-width: 550px) {
  .cart-item {
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    height: auto;
  }

  .cart-item h2 {
    margin-bottom: 0.5rem;
  }

  .cart-item h4 {
    text-align: left;
  }

  .cart-item h2::after {
    content: "";
    height: 1px;
    width: 100%;
    border-bottom: 1px solid var(--dark);
  }

  .cart-item--img__wrapper img {
    width: 100%;
    height: 250px;
    max-height: 45vh;
  }

  .cart-item--info__wrapper {
    min-height: 160px;
    height: auto;
    width: 100%;
    justify-content: space-between;
    /* padding: 0.5rem; */
    /* padding-bottom: 0; */
    text-align: left;
  }

  .cart-item--quantity {
    flex-direction: row;
    align-items: center;
  }

  div.cart-item--quantity {
    gap: 3rem;
  }

  .cart-item--quantity__wrapper {
    padding-right: 2rem;
    display: inline-block;
  }

  .shipping-form__wrapper {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .shipping-form button {
    right: 1rem;
  }

  .email-grid {
    grid-row: 1;
  }

  .shipping-grid {
    grid-row: 2;
    grid-column: 1;
  }

  .shipping-grid,
  .email-grid {
    padding: 0.25rem 0;
  }

  .cart-modal {
    transform: translate(-50%, -50%);
    width: 95%;
    padding: 1rem 0.5rem 0;
  }

  .close-modal {
    top: 0.5rem;
    right: 0.5rem;
  }

  .cart-modal__grid {
    margin: 0.5rem 0;
    grid-template-rows: auto auto;
    grid-template-columns: none;
  }

  .cart-modal h2 {
    margin: 0.5rem 0;
  }

  .cart-modal--buyer,
  .cart-modal--shipping {
    text-align: left;
    margin: 0 1rem;
  }

  .cart-modal--shipping h4,
  .cart-modal--buyer h4 {
    margin: 0.5rem 0;
  }

  .cart-modal--buyer p,
  .cart-modal--shipping p {
    margin: 0.5rem;
  }

  .cart-preview {
    width: 95vw;
    min-width: auto;
  }
}
