/* Cart Styles  */

.empty-cart {
  margin: 2rem auto;
  padding: 0 1rem;
  /* text-align: left; */
  max-width: 500px;
}

.empty-cart ~ a > button {
  color: var(--dark);
}

.cart-item {
  background: var(--white);
  height: 300px;
  padding: 1rem 2rem;
  opacity: 0;
  display: flex;
  width: 60%;
  /* max-width: 500px; */
  justify-content: space-evenly;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.cart-item--info__wrapper {
  height: 185px;
  width: 50%;
  text-align: right;
  position: relative;
}

.cart-item h2 {
  text-align: center;
}

.cart-item h3 {
  display: inline;
  margin-left: 1rem;
}

.cart-item h4,
.cart-item h5 {
  margin: 0.25rem 0;
}

.cart-item p {
  display: inline-block;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
}

.cart-item--quantity__grid {
  margin: 0.5rem 0;
}

.cart-item--img__wrapper {
  width: 50%;
  display: flex;
}

.cart-item--img__wrapper img {
  height: 100%;
  width: 250px;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  cursor: zoom-in;
}

.cart-item button {
  position: absolute;
  bottom: -4rem;
  right: 0;
  display: inline-block;
  width: auto;
  margin: 0;
  width: auto;
  border: none;
  background-color: inherit;
  transition: color 200ms ease;
  box-shadow: none;
}

.cart-item button:hover {
  color: var(--medium);
  background-color: inherit !important;
}

.cart-item button::after {
  display: none;
}

.cart-item button:active {
  animation: none;
}

.cart-preview__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-preview {
  max-width: 715px;
  width: 100%;
  min-width: 500px;
  max-height: 80%;
  object-fit: contain;
  border: 6px outset burlywood;
}

.cart-preview ~ .MuiSvgIcon-root {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  /* opacity: 0.8; */
  border-radius: 4px;
  border: 1px solid var(--dark);
  cursor: pointer;
  transition: background-color 150ms ease;
}

.cart-preview ~ .MuiSvgIcon-root:hover {
  background-color: var(--white);
}

.cart-division {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.cart-total {
  padding: 0 4rem;
  text-align: right;
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto auto auto auto;
}

/* .cart-total div {
    grid-area: label;
  }
  
  .cart-total div:last-of-type {
    grid-area: amount;
  } */

.cart-total .underline {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  /* grid-area: hr; */
  width: 100%;
}

.cart-total button {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-area: checkout; */
}

.cart-total h3 {
  grid-row: 3;
  grid-column: 1;
  /* grid-area: total; */
}

.cart-total h3:last-of-type {
  grid-column: 2;
  /* grid-area: total-amount; */
}

.cart-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.shipping-form__wrapper {
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  /* grid-template-rows: 15% auto; */
  height: 200px;
  position: relative;
  width: 80%;
  padding: 0 2rem;
  margin: auto;
  margin-top: 2rem;
}

.shipping-form__wrapper > div {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
}

.shipping-form__wrapper h4 {
  grid-column: 1;
  margin: 0;
}

.shipping-form__wrapper h4:last-of-type {
  grid-column: 2;
}

.shipping-form {
  text-align: right;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  /* opacity: 0; */
}

.email-grid {
  grid-column-start: 1;
}

.shipping-grid {
  grid-column-start: 2;
}

.shipping-form button {
  position: absolute;
  top: -20px;
  right: 0;
  width: auto;
  border: none;
  background-color: inherit;
  transition: color 200ms ease;
  box-shadow: none;
}

.shipping-form button:hover {
  color: var(--medium);
  background-color: inherit !important;
}

.shipping-form button::after {
  display: none;
}

.shipping-form button:active {
  animation: none;
}

.shipping-form button label {
  margin-right: 0.5rem;
}

.shipping-form i {
  margin: 0;
}

.shipping-form h4 {
  opacity: 1 !important;
}

.info-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.info-grid p {
  margin: 0.7rem 0;
}

.info-grid input {
  line-height: 1.4rem;
}

.shipping-grid,
.email-grid {
  text-align: left;
  padding: 0 1rem 0 0;
  overflow: hidden;
}

.shipping-grid input,
.email-grid input {
  display: block;
  width: 100%;
  margin: 0.2rem 0;
}

.city-state {
  display: grid;
  grid-template-columns: auto 12% 20%;
}

.city-state input {
  display: inline-block;
  margin: 0.2rem 0;
}

.cart-modal__grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cart-modal--buyer,
.cart-modal--shipping {
  text-align: right;
  margin: 0 auto;
}

.cart-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white) url(../images/brushed-alum.webp);
  width: 40rem;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
}

.purchase-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white) url(../images/brushed-alum.webp);
  width: 30rem;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 850px) {
  .cart-item {
    width: 85%;
    padding: 1rem;
  }

  .cart-item--info__wrapper h4 {
    margin: 0;
  }

  .shipping-form__wrapper {
    width: 100%;
    padding: 0 1rem;
  }

  .city-state {
    grid-template-columns: auto 15% 25%;
  }

  .shipping-form button {
    right: 4rem;
    top: auto;
    bottom: 0;
  }
}

@media (max-width: 450px) {
  .cart-item {
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    height: auto;
  }

  .cart-item h2 {
    margin-bottom: 0.5rem;
  }

  .cart-item h4 {
    text-align: left;
  }

  .cart-item h2::after {
    content: "";
    height: 1px;
    width: 100%;
    border-bottom: 1px solid var(--dark);
  }

  .cart-item--img__wrapper {
    width: auto;
  }

  .cart-item--img__wrapper img {
    width: 100%;
    height: 250px;
    max-height: 45vh;
  }

  .cart-item--info__wrapper {
    min-height: 160px;
    height: auto;
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 0;
    text-align: left;
  }

  .cart-item--quantity {
    display: flex;
    justify-content: space-evenly;
  }

  .cart-item--quantity__wrapper {
    padding-right: 2rem;
    display: inline-block;
  }

  .cart-item--quantity {
    display: inline-flex;
  }

  .cart-item--quantity__grid {
    text-align: center;
  }

  .cart-item button {
    right: -4px;
    bottom: 0;
    /* right: auto; */
  }

  /* .cart-item--quantity__grid {
    display: grid;
    width: 60%;
    grid-template-columns: 50% 50%;
  } */

  .shipping-form__wrapper {
    height: 350px;
    padding: 0 1rem;
    margin-bottom: 2rem;
    /* grid-template-columns: none;
    grid-template-rows: repeat(4, auto); */
  }

  .shipping-form button {
    right: 2rem;
    bottom: -2rem;
  }

  /* .shipping-form__wrapper h4:first-of-type {
    grid-row: 3;
  }

  .shipping-form__wrapper h4:last-of-type {
    grid-column: 1;
  }

  .shipping-form__wrapper > div {
    grid-column: 1;
  } */

  .info-grid {
    grid-template-columns: none;
    /* grid-template-rows: 50% 50%; */

    height: 100%;
  }

  .email-grid {
    grid-row: 1;
  }

  .shipping-grid {
    grid-row: 2;
    grid-column: 1;
  }

  .shipping-grid,
  .email-grid {
    padding: 1rem 0;
  }

  .cart-total {
    padding: 0 2rem;
  }

  .cart-modal {
    top: 55px;
    bottom: 1%;
    transform: translate(-50%, 0);
    width: 95%;
    padding: 1rem 0.5rem 0.5rem;
    /* max-height: 85vh; */
  }

  .close-modal {
    top: 0.5rem;
    right: 0.5rem;
  }

  .cart-modal__grid {
    margin: 0.5rem 0;
    grid-template-rows: auto auto;
    grid-template-columns: none;
  }

  .cart-modal h2 {
    margin: 0.5rem 0;
  }

  .cart-modal--buyer,
  .cart-modal--shipping {
    text-align: left;
    margin: 0 1rem;
  }

  .cart-modal--shipping h4,
  .cart-modal--buyer h4 {
    margin: 0.5rem 0;
  }

  .cart-modal--buyer p,
  .cart-modal--shipping p {
    margin: 0.5rem;
  }

  .cart-preview__wrapper {
    top: calc(50% + 28px);
  }

  .cart-preview {
    /* width: 90%; */
    /* min-width: 350px; */
    width: 95vw;
    min-width: auto;
  }
}
