/* Contact page styles  */

.contact-img {
  background-image: url(../images/matt-portrait.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  min-height: 40vh;
  object-fit: cover;
  filter: brightness(0.89) contrast(103%);
  box-shadow: 0 0 16px 16px white inset;
}

.contact-blurb {
  margin: 3rem 1rem 3rem auto;
  max-width: clamp(60%, 70%, 80ch);
  position: relative;
  color: var(--white);
  padding: 0.5rem;
}

.contact-blurb h2 {
  text-align: left;
  margin-top: revert;
  text-decoration: underline var(--medium);
  text-underline-offset: 5px;
}

.contact-blurb p {
  line-height: 1.7rem;
  padding: 0 1rem;
}

.contact-blurb .brand-backdrop {
  transform: skew(7deg) rotate(-4deg);
  left: -0.5rem;
  top: 0;
  height: 100%;
}

.contact-blurb .brand-backdrop::after {
  transform: rotate(4deg);
}

.contact__grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.contact__grid > .contact--info {
  padding: 0 4rem 4rem;
  text-align: center;
}

.contact__grid h3 {
  margin-bottom: 3rem;
}

.contact--social__flex {
  display: flex;
  justify-content: space-evenly;
  justify-items: start;
  margin-bottom: 4rem;
}

.contact--social__flex a {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: var(--dark);
  transition: all 150ms ease-in-out;
  aspect-ratio: 3;
}

.contact--social__flex a:hover,
.contact--social__flex a:focus {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.contact--social__flex a:focus {
  outline: none;
}

.contact--social__flex a:active {
  animation: press 150ms ease forwards;
}

.contact--social__flex i {
  font-size: 3rem;
  color: var(--white-two);
}

.email-form,
.contact--info {
  width: 100%;
  margin: 2rem auto;
}

@media (max-width: 850px) {
  .contact__grid {
    grid-template-columns: none;
    padding: 0 2rem;
  }

  .contact__grid > .contact--info {
    padding: 0 4rem;
  }

  .email-form {
    margin: 0 auto;
    max-width: 500px;
  }
}

@media (max-width: 450px) {
  .contact-blurb {
    margin: 2rem auto;
  }

  .contact__grid {
    padding: 0 1rem;
  }

  .contact__grid > .contact--info {
    padding: 0;
    margin: 0;
  }

  .contact--social__flex {
    margin-bottom: 2rem;
  }

  .email-form {
    margin: 0;
    padding: 0 0.5rem;
  }

  .email-form textarea {
    height: 8rem;
  }
}
