/* Edit Page Styles  */

.login-greeting {
  margin: 0 1rem;
}

.login-form {
  margin: 4rem auto;
  width: 50%;
}

.login-form input {
  padding: 0.5rem 0;
}

.password-input {
  position: relative;
}

.password-input svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
}

.nav-buttons button {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0;
  border: none;
  background-color: inherit;
  color: var(--dark);
  box-shadow: none;
}

.nav-buttons button:hover {
  background: (--white);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.nav-buttons button:focus {
  background: inherit !important;
}

.nav-buttons a:hover {
  text-decoration: none;
}

.nav-buttons button:after {
  display: none;
}

.nav-buttons button:hover:after {
  display: none;
}

.upload-prints,
.upload-gallery,
.update-stock,
.edit-gallery {
  max-width: 100%;
  width: 66rem;
}

.upload-form {
  width: 90%;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.upload-prints--stock {
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.upload-prints--stock > .radio-group {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-bottom: 2rem;
}

.radio-group {
  border: 1px dotted var(--dark);
}

.radio-group::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  outline: 2px solid var(--dark);
  bottom: 0;
  transform: translateX(-50%);
  transition: transform 200ms ease;
  z-index: -1;
}

.original::after {
  transform: translateX(50%);
}

.radio-group label {
  flex-basis: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0 !important;
  height: 100%;
  width: 100%;
}

/* .radio-group label:hover,
.radio-group label:focus-within {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
} */

.radio-group input[type="radio"] {
  width: 0.01px;
  position: absolute;
}

.radio-group label span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-group input[type="radio"]:focus-visible ~ span,
.radio-group label:hover span {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.upload-prints--dimensions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-prints--stock label {
  margin-right: 0.5rem;
}

.upload-prints--stock #price {
  text-indent: 0;
}

.img-preview {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: block;
  text-align: center;
}

.upload-form img {
  max-width: 90%;
  transform: translateX(-50%);
  object-fit: contain;
  max-height: 400px;
  object-position: top;
  position: absolute;
}

.update-stock h2 {
  text-align: center;
}

.print-stock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.print-stock-item {
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 200px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.print-stock-item h5 {
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.print-stock img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.print-stock ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.print-stock li {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
}

.print-stock li:last-of-type {
  margin: 0.5rem 0 0 0;
  justify-content: space-around;
}

.print-stock--buttons {
  text-align: center;
}

.print-stock--buttons button {
  display: inline-block;
  margin: 1rem;
}

.update-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
}

.update-preview {
  margin: 1rem;
  height: 100px;
  width: 100px;
  object-fit: cover;
  transition: transform 100ms ease, box-shadow 100ms ease;
}

.update-preview:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.update-gallery--grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 500px;
}

.update-gallery--wrapper {
  position: relative;
  height: 500px;
}

.update-gallery--form {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.update-gallery--update {
  padding: 1rem 2rem;
  position: relative;
}

.edit-image {
  min-width: 400px;
  height: 450px;
  width: 100%;
  object-fit: contain;
}

.edit-transition {
  margin-top: 3rem;
  position: relative;
  min-height: 600px;
}

.logout {
  position: fixed !important;
  z-index: 2;
  right: 1rem;
  bottom: 1rem;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  box-shadow: none;
  font-size: inherit;
  transition: all 150ms linear;
}

.logout:hover {
  width: 56px;
  background-color: var(--medium) !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12),
    0 0 0 1px inset var(--dark);
}

.logout::after {
  display: none;
}

@media (max-width: 850px) {
  .edit-transition {
    min-height: 60vh;
  }

  .page-content {
    padding: 0;
  }

  .nav-buttons button {
    font-size: 1rem;
    padding: 1rem;
  }

  .upload-form {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    margin: 1rem auto 0;
    width: 500px;
    max-width: 100%;
  }

  .img-preview {
    height: 500px;
  }

  .img-preview img {
    object-position: center;
    height: 100%;
    max-height: none;
  }

  .edit-image {
    min-width: 0;
    max-width: 100%;
  }

  /* .logout {
    right: 0rem;
    bottom: -70px;
    width: 80px;
    height: 78px;
  } */

  /* .upload-prints--stock > div:nth-child(2) {
    margin-left: 20%;
  } */

  .update-stock h4 {
    margin-left: 1rem;
  }
}

@media (max-width: 700px) {
  .update-gallery {
    margin-bottom: 1rem;
  }

  .update-gallery--wrapper {
    height: 300px;
  }

  .update-gallery--update {
    padding: 1rem 0;
  }

  .edit-image {
    height: 300px;
  }

  .update-gallery--grid {
    grid-template-columns: none;
    height: auto;
  }

  .update-preview {
    margin: 0.25rem;
  }
}

@media (max-width: 450px) {
  .edit-transition h2 {
    position: sticky;
    top: 53px;
    background-color: var(--white);
    background-image: url("../images/brushed-alum.webp");
    height: fit-content;
    padding: 0.25rem 0;
    width: calc(100% + 3px);
    display: flex;
    align-items: center;
    z-index: 3;
  }

  .login-form {
    width: 80%;
  }

  .password-input svg {
    right: 0rem;
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;
  }

  .nav-buttons {
    margin: 0;
  }

  .nav-buttons button {
    padding: 0.5rem 0.8rem;
  }

  .nav-buttons a {
    flex-basis: 25%;
  }

  .upload-form textarea {
    height: 5rem;
  }

  .img-preview {
    height: 300px;

    /* max-height: 400px;
    min-height: 200px; */
  }

  .upload-form img {
    width: 90vw;
    /* max-height: 400px; */
  }

  .uploadform.prints {
    height: initial;
  }

  .edit-transition {
    margin-top: 2rem;
  }

  .upload-prints--dimensions {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .upload-prints--dimensions > div {
    flex-basis: calc(50% - 0.5rem);
  }

  .upload-prints--dimensions label {
    position: absolute;
  }

  .upload-prints--dimensions input {
    width: 100%;
    text-align: right;
  }

  .upload-prints--stock {
    padding: 1rem 0 2rem;
  }

  .upload-prints--stock > div {
    margin: 0.5rem 0;
  }

  .print-stock-item {
    /* width: 300px; */
    width: 40%;
  }

  .print-stock-item img {
    height: 100px;
    /* height: auto; */
  }

  /* .print-stock ul {
    display: flex;
  } */

  .print-stock li:not(:last-of-type) {
    display: inline-flex;
    flex-direction: column;
    padding: 0 1rem 0.5rem;
    width: calc(100% -3);
  }

  .print-stock li:last-of-type {
    justify-content: flex-end;
  }

  .print-stock li:last-of-type label {
    margin-right: 1rem;
  }

  .update-preview {
    margin: 0;
    justify-content: flex-start;
    width: calc(100vw / 4);
    height: calc(100vw / 4);
  }
}
