/* Gallery Styles  */

.gallery-piece {
  width: 100%;
  margin: 4rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
  min-height: 50vh;
  contain: layout;
}

.gallery-piece span {
  display: flex !important;
  justify-content: center;
}

.gallery-piece img {
  object-fit: contain;
  max-height: 80vh;
  max-width: 100%;
  border: 5px outset burlywood;
  box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.4), 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.plaque {
  background: var(--white);
  color: var(--dark);
  padding: 0 0.5rem;
  text-align: left;
  margin: auto 0 1rem;
  width: 300px;
  max-width: 90%;
  border: 3px outset white;
  border-radius: 4px;
  font-family: var(--noto);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.plaque h3 {
  margin: 0.5rem 0 0.25rem;
}

.plaque-medium {
  margin-top: 0;
  font-size: 0.9rem;
}

.plaque-description {
  white-space: pre-line;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.art-division {
  overflow: visible;
  border-top: medium double #333;
  color: #333;
  max-width: 95vw;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.art-division:after {
  content: "§";
  font-size: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
  background: url(../images/brushed-alum.webp) var(--white);
}

.progress {
  height: 100%;
  width: 100%;
}

@media (max-width: 850px) {
  .gallery-piece {
    display: block;
  }

  .gallery-piece img {
    max-height: 75vh;
  }

  .plaque {
    margin: 1rem auto 0;
  }
}

@media (max-width: 450px) {
  .gallery-piece {
    width: 100%;
  }
}

@media (max-height: 550px) and (min-width: 450px) {
  .gallery-piece {
    display: flex;
    gap: 1rem;
    width: 90%;
  }

  .gallery-piece img {
    max-width: 100%;
    max-height: calc(100vh - 60px);
  }

  .plaque {
    margin: auto 0 1rem;
  }
}
