/* Main page Styles  */

.main-landing__wrapper {
  position: relative;
  overflow-x: clip;
  grid-area: body;
}

.landing-header {
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 0 2rem;
  background-color: var(--medium);
  padding: 1rem 0;
  overflow: hidden;
  text-transform: uppercase;
  border: 3px solid var(--dark);
}

.landing-header .logo {
  font-family: var(--yellowtail);
  text-transform: initial;
  font-weight: lighter;
  font-size: 2.5rem;
}

.landing-header__wrapper {
  position: relative;
  text-align: center;
  position: relative;
  margin: 7rem auto 5rem;
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: 60% 150%;
  display: flex;
}

.landing-header__wrapper::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateZ(-225px);
  filter: blur(10px);
  z-index: -1;
}

.landing-header__bottom {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 2rem;
  transform: rotateX(90deg);
  transform-origin: bottom;
  background: var(--dark);
}

.carousel__wrapper {
  margin: 3rem auto 4rem;
  position: relative;
  width: 1080px;
  max-width: 100vw;
  object-fit: contain;
  max-height: 70vw;
}

.carousel__wrapper .brand-backdrop {
  left: 0;
  transform: skew(12deg) rotate(-4deg);
}

.alice-carousel {
  max-width: 100vw;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 16px rgb(0 0 0 / 30%);
  overflow: hidden;
}

.alice-carousel > div {
  box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.3);
  width: auto !important;
}

.alice-carousel__stage-item.__active {
  max-width: 100vw !important;
  max-height: 70vw !important;
}

.carousel-image {
  max-width: 100vw !important;
  max-height: 70vw !important;
}

.alice-carousel__stage-item {
  overflow: hidden;
}

.alice-carousel__stage-item.__active:nth-child(odd):not(.__cloned) > .carousel-image {
  animation: ken-burns 3600ms linear reverse backwards !important;
}

.alice-carousel__stage-item:nth-child(even):not(.__cloned) > .carousel-image {
  transform: translate(20px, -30px) scale(1.2);
  transform-origin: 50% 0;
}

.alice-carousel__stage-item.__active:nth-child(even):not(.__cloned) > .carousel-image {
  animation: ken-burns 3600ms linear normal forwards !important;
}

.alice-carousel__stage-item.__active:nth-child(2):not(.__cloned) > .carousel-image {
  animation: ken-burns 3000ms linear normal forwards !important;
}

.alice-carousel__stage-item.__cloned > .carousel-image,
.alice-carousel__stage-item.__cloned.__active > .carousel-image {
  transform: translate(0, 0) scale(1) !important;
  transform-origin: 50% 0 !important;
  animation: none !important;
}

@media (max-width: 850px) {
  .landing-header__wrapper {
    margin: 7rem auto 0;
    perspective-origin: 50% 130%;

  }

  .landing-header {
    font-size: 1.5rem;
    padding: 0.75rem 0;
  }

  .landing-header .logo {
    font-size: 2rem;
  }

  .carousel__wrapper .brand-backdrop {
    height: 110%;
  }
}

@media (max-width: 550px) {
  .landing-header__wrapper {
    margin: 5rem auto 0;
  }
}

@media (max-width: 450px) {
  .landing-header__wrapper {
    margin: 6rem auto 4rem;
    perspective-origin: 50% 150%;
  }

  .landing-header {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  .landing-header .logo {
    font-size: 1.8rem;
  }

  .landing-header__bottom {
    bottom: 1rem;
  }
}
