/* Main page Styles  */

.main-landing__wrapper {
  position: relative;
  overflow-x: clip;
  left: 50%;
  transform: translateX(-50%);
}

.landing-header {
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
  background-color: var(--medium);
  padding: 2rem 0;
  overflow: hidden;
  text-transform: uppercase;
  border: 3px solid var(--dark);
}

.landing-header span {
  font-family: var(--yellowtail);
  text-transform: initial;
  font-weight: lighter;
  font-size: 2.5rem;
}

.landing-header__wrapper {
  position: relative;
  text-align: center;
  position: relative;
  margin: 6rem auto;
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: 50% 167%;
}

.landing-header__wrapper::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 22px;
  width: 100%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateZ(-300px);
  filter: blur(10px);
  z-index: -1;
}

.landing-header__bottom {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 53px;
  transform: rotateX(90deg);
  transform-origin: bottom;
  background: var(--dark);
}

.carousel__wrapper {
  grid-area: body;
  margin: 3rem auto 4rem;
  position: relative;
  width: 1080px;
  max-width: 100vw;
  object-fit: contain;
  max-height: 70vw;
}

.carousel__wrapper .brand-backdrop {
  left: 0;
  transform: skew(12deg) rotate(-4deg);
}

.alice-carousel {
  max-width: 100vw;
}

.alice-carousel > div {
  box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.3);
  width: auto !important;
}

.alice-carousel__stage-item.__active {
  max-width: 100vw !important;
  max-height: 70vw !important;
}

.carousel-image {
  max-width: 100vw !important;
  max-height: 70vw !important;
}

.alice-carousel__stage-item.__active:nth-child(2) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(4) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(6) > .carousel-image {
  animation: ken-burns 7600ms linear normal !important;
}

.alice-carousel__stage-item.__active:nth-child(3) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(5) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(7) > .carousel-image {
  animation: ken-burns 7600ms linear reverse !important;
}

@keyframes ken-burns {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: 50% 0;
  }
  100% {
    transform: translate(20px, -30px) scale(1.2);

    transform-origin: 50% 0;
  }
}

@media (max-width: 850px) {
  .main-landing__wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    height: fit-content;
    width: 100vw;
  }

  .landing-header {
    font-size: 1.7rem;
    padding: 1.5rem;
  }

  .carousel__wrapper .brand-backdrop {
    left: 2rem;
    max-width: 80vw;
    height: 70vw;
  }
}

@media (max-width: 450px) {
  .carousel__wrapper {
    margin-top: 3rem;
  }

  .carousel__wrapper .brand-backdrop {
    max-width: 80vw;
    height: 80vw;
  }

  .landing-header__wrapper {
    margin: 4rem auto;
    perspective-origin: 50% 130%;
  }

  .landing-header {
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .landing-header span {
    font-size: 1.8rem;
  }

  .landing-header__bottom {
    bottom: 37px;
  }
}
