/* Main page Styles  */

.carousel__wrapper {
  grid-area: body;
  margin: 14rem auto 1rem;
  position: relative;
  width: 1080px;
  max-width: 100vw;
  object-fit: contain;
  height: 800px;
  max-height: 70vw;
}

.alice-carousel {
  max-width: 100vw;
}

.alice-carousel > div {
  box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.3);
  width: auto !important;
}

.alice-carousel__stage-item.__active {
  max-width: 100vw !important;
  max-height: 70vw !important;
}

.carousel-image {
  max-width: 100vw !important;
  max-height: 70vw !important;
}

.alice-carousel__stage-item.__active:nth-child(2) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(4) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(6) > .carousel-image {
  animation: ken-burns 10000ms linear normal !important;
}

.alice-carousel__stage-item.__active:nth-child(3) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(5) > .carousel-image,
.alice-carousel__stage-item.__active:nth-child(7) > .carousel-image {
  animation: ken-burns 10000ms linear reverse !important;
}

@keyframes ken-burns {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: 50% 0;
  }
  100% {
    transform: translate(20px, -30px) scale(1.2);

    transform-origin: 50% 0;
  }
}

@media (max-width: 850px) {
  .carousel__wrapper {
    margin-top: 10rem;
  }

  .carousel__wrapper .brand-backdrop {
    /* display: none; */
    left: 2rem;
    /* top: 0; */
    max-width: 80vw;
  }
}

@media (max-width: 450px) {
  .carousel__wrapper .brand-backdrop {
    max-width: 75vw;
  }
}
