/* Navbar header Styles  */

header {
  background-color: var(--dark);
  /* color: inherit; */
  color: var(--white-two);
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  font-family: "Yellowtail", cursive;
  font-weight: lighter;
  margin: 0;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header li {
  margin: 0 0.8rem;
  padding: 1rem;
}

header li:last-of-type {
  border-top: 3px double var(--white-two);
  margin-right: 0.8rem;
}

header a {
  box-shadow: none;
  transition: all 150ms linear;
}

header a:hover {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  border-bottom: 4px inset var(--white-two);
}

header a:active {
  animation: press-text 100ms ease;
}

header a.header--main-link {
  transition: text-shadow 150ms ease;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

header a.header--main-link:hover {
  border-bottom: none;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}

header a.header--main-link:active {
  animation: press-text 150ms linear forwards;
}

.MuiBadge-badge {
  background-color: var(--medium);
  color: var(--dark);
  padding: 0 3px;
}

header .cart-link:visited,
header .cart-link {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: box-shadow 200ms ease;
  color: var(--white-two);
}

header .cart-link:hover {
  border-bottom: none;
  text-shadow: none;
  box-shadow: 0 0 0 1px inset var(--white-two), 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

header .cart-link:active > span {
  border: none;
  animation: press-cart 150ms ease forwards;
}

.login-edit {
  padding: 2px;
  border-radius: 4px;
}

.login-edit i {
  color: var(--white-two);
  text-shadow: none;
}

.login-edit:hover {
  border-bottom: none;
  box-shadow: 0 0 0 1px inset var(--light-two), 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.login-edit:active path {
  transform: scale(1);
  animation: press-cart 100ms ease forwards;
}

.menu {
  position: absolute;
  z-index: 200;
  top: 76px;
  right: 0;
  background-color: var(--dark);
  /* background-color: aliceblue; */
  transform: translateX(101%);
  transition: transform 200ms ease;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 8px;
}

.menu__burger-icon {
  width: 33px;
  position: fixed;
  top: 27px;
  right: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.menu__burger-icon span {
  position: relative;
  display: block;
  background-color: var(--white-two);
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
  transform-origin: 6px 5px;
  transition: all 200ms ease;
}

.menu__burger-icon span:first-child {
  transform-origin: 0;
}

@media (min-width: 850px) {
  header ul {
    flex-direction: row;
  }

  header li {
    padding: 0;
  }

  .menu__burger-icon {
    display: none;
  }

  .menu {
    transform: none !important;
    position: static;
    border: none;
  }

  header li:last-of-type {
    border: none;
    margin-right: 0;
  }

  header li:last-of-type::before {
    content: "";
    border-left: 3px double var(--white-two);
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  header {
    padding: 4px 1rem;
  }

  .menu {
    top: 52px;
  }

  .menu__burger-icon {
    top: 17px;
    right: 1rem;
  }
}
