/* Prints Styles  */

.print-orders {
  margin: 2rem 2rem auto auto;
  width: 60%;
  position: relative;
  color: var(--white);
}

.print-orders .brand-backdrop {
  transform: skew(7deg) rotate(-4deg);
}

.print-orders .brand-backdrop::after {
  transform: rotate(4deg);
}

.print-orders:nth-of-type(4) {
  margin: 4rem auto auto 4rem;
}

.print-orders:nth-of-type(4) .brand-backdrop {
  transform: skew(7deg) rotate(4deg);
}

.print-orders:nth-of-type(4) .brand-backdrop::after {
  transform: rotate(-4deg);
}

.print-orders h2 {
  text-align: left;
  text-decoration: underline var(--medium);
  text-underline-offset: 5px;
  /* color: var(--medium); */
  /* text-shadow: 0 0 2px var(--dark-two); */
}

.print-orders p {
  padding: 0 3rem 3rem 0;
  /* font-size: 0.9rem; */
  font-weight: lighter;
}

.prints-flexbox {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
  min-height: 250px;
}

.print-item img {
  height: 250px;
  width: 195px;
  object-fit: cover;
  position: relative;
}

.print-item > p,
.print-item > h3 {
  padding: 0.25rem;
  background-color: #f9f9f9c7;
  position: absolute;
  margin: 0;
  z-index: 1;
  opacity: 0;
  transition: all 200ms ease;
}

.print-item p {
  bottom: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  transform-origin: left;
  transform: translateX(100%);
}

.print-item > h3 {
  top: 0;
  width: 100%;
  transform: translateY(-100%);
  transform-origin: top;
  line-height: 1;
}

.print-item {
  height: 250px;
  position: relative;
  background: var(--white);
  display: inline-block;
  text-align: center;
  padding: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 150ms ease, box-shadow 150ms ease, opacity 450ms ease;
}

.print-item:hover {
  transform: translateY(-5px);
  transform-origin: center;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0ms !important;
}

.print-item:hover:not(.zero-stock) > h3,
.print-item:hover:not(.zero-stock) > p {
  opacity: 1;
  transition-delay: 150ms;
  transform: translate(0);
}

/* .print-item h3 {
    position: relative;
    z-index: 2;
  }
  
  .print-item h3::before {
    content: "";
    position: absolute;
    background-color: var(--medium);
    width: 100%;
    height: 140%;
    right: 0;
    top: -4px;
    z-index: -1;
    transform: rotate(4deg) skew(4deg);
  }
  
  .print-item h3::after {
    content: "";
    position: absolute;
    background-color: var(--dark);
    width: 230px;
    height: 42px;
    right: 1rem;
    z-index: -2;
    transform: rotate(-2deg) skew(5deg);
  } */

.sold-out {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--medium);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  z-index: 3;
}

.sold-out h3 {
  background: var(--dark);
  transform: translateY(170px);
  border-top: 2px outset var(--white);
  border-bottom: 2px solid var(--white);
  line-height: 2;
}

.print-item.print-item.zero-stock {
  box-shadow: initial;
}

.print-item.zero-stock:hover {
  transform: none;
  box-shadow: initial;
  cursor: initial;
}

.MuiCircularProgress-root {
  position: absolute;
  top: 50%;
  transition: opacity 250ms ease;
}

.print-modal {
  --transform: translate(-50%, -45%);
  background: url(../images/brushed-alum.webp) var(--white);
  opacity: 1;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem 1rem;
  text-align: center;
  width: 35rem;
  max-width: 85%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  max-height: 85%;
  overflow-y: auto;
  transition: transform 200ms ease-in-out;
}

.print-modal h5 {
  margin: 0.5rem 0;
}

.print-modal__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal {
  box-sizing: content-box;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0 1rem;
  border-radius: 4rem;
  height: 32px;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  cursor: pointer;
}

.close-modal:hover {
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.close-modal:active {
  animation: press-cart 150ms linear;
}

.print-modal img {
  max-width: 100%;
  max-height: 58vh;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.print-modal > h2 {
  line-height: 1;
  margin: 0 2rem 0.5rem;
}

.print-modal__flex h2,
.print-modal__flex p {
  margin: 0 1rem;
}

@media (max-width: 850px) {
  .print-orders {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .prints-flexbox {
    justify-content: space-evenly;
    min-height: 200px;
  }

  .print-item {
    height: 200px;
  }

  .print-item img {
    height: 200px;
    width: 150px;
  }

  .sold-out h3 {
    transform: translateY(110px);
    font-size: 1rem;
  }

  .print-orders {
    width: 280px;
    margin: 4rem auto 0 5rem;
    /* text-align: left; */
  }

  .print-orders:only-of-type(4) {
    margin: 4rem auto 0 !important;
  }

  .print-orders .brand-backdrop {
    left: -1.5rem;
    transform: skew(7deg) rotate(-7deg);
  }

  .print-orders .brand-backdrop::after {
    transform: rotate(7deg);
  }

  .print-orders:nth-of-type(4) .brand-backdrop {
    transform: skew(7deg) rotate(7deg);
  }

  .print-orders:nth-of-type(4) .brand-backdrop::after {
    transform: rotate(-7deg);
  }

  .print-orders h2 {
    text-align: left;
    margin-bottom: 0rem;
    font-size: 1.2rem;
  }

  .print-orders p {
    padding: 0 2.5rem 2.5rem 0;
  }

  .print-orders .print-modal {
    padding: 1rem;
  }

  .print-modal {
    padding: 1rem;
  }

  .print-modal img {
    width: auto;
    max-width: 100%;
    max-height: 45vh;
  }

  .close-modal {
    right: 0.5rem;
  }
}

@media (max-height: 950px) {
  .print-modal {
    --transform: translate(-50%, 0);
    top: 88px;
    /* transform: translate(-50%, 0); */
  }

  @media (max-width: 450px) {
    .print-modal {
      top: 60px;
      /* bottom: 5px; */
      max-width: 95%;
      max-height: 90vh;
    }
  }
}
