/* Prints Styles  */

.print-orders {
  margin: 2rem 2rem auto auto;
  width: 60%;
  position: relative;
  color: var(--white);
}

.print-orders .brand-backdrop {
  transform: skew(7deg) rotate(-4deg);
}

.print-orders .brand-backdrop::after {
  transform: rotate(4deg);
}

.print-orders:nth-of-type(4) {
  margin: 4rem auto auto 4rem;
}

.print-orders:nth-of-type(4) .brand-backdrop {
  transform: skew(7deg) rotate(4deg);
}

.print-orders:nth-of-type(4) .brand-backdrop::after {
  transform: rotate(-4deg);
}

.print-orders h2 {
  text-align: left;
  text-decoration: underline var(--medium);
  text-underline-offset: 5px;
  /* color: var(--medium); */
  /* text-shadow: 0 0 2px var(--dark-two); */
}

.print-orders p {
  padding: 0 3rem 3rem 0;
  font-size: 0.9rem;
  font-weight: lighter;
}

.prints-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.print-item img {
  height: 150px;
  width: 175px;
  object-fit: cover;
  position: relative;
  /* z-index: 2; */
}

.print-item p {
  margin: 0;
}

.print-item {
  position: relative;
  background: var(--white);
  display: inline-block;
  text-align: center;
  margin: 1rem;
  padding: 0 0.5rem 1rem;
  border-radius: 0.5rem;
  /* opacity: 0; */
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 150ms ease, box-shadow 150ms ease;
}

.print-item:hover {
  transform: scale(1.05);
  transform-origin: center;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0ms !important;
}

/* .print-item h3 {
    position: relative;
    z-index: 2;
  }
  
  .print-item h3::before {
    content: "";
    position: absolute;
    background-color: var(--medium);
    width: 100%;
    height: 140%;
    right: 0;
    top: -4px;
    z-index: -1;
    transform: rotate(4deg) skew(4deg);
  }
  
  .print-item h3::after {
    content: "";
    position: absolute;
    background-color: var(--dark);
    width: 230px;
    height: 42px;
    right: 1rem;
    z-index: -2;
    transform: rotate(-2deg) skew(5deg);
  } */

.sold-out {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--medium);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  z-index: 3;
}

.sold-out h2 {
  background: var(--dark);
  transform: translateY(200px);
  border-top: 2px outset var(--white);
  border-bottom: 2px solid var(--white);
}

.print-item.print-item.zero-stock {
  box-shadow: initial;
}

.print-item.zero-stock:hover {
  transform: none;
  box-shadow: initial;
  cursor: initial;
}

.print-modal {
  background: url(../images/brushed-alum.png) var(--white);
  opacity: 1;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  padding: 2rem;
  text-align: center;
  width: 35rem;
  max-width: 85%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  max-height: 85%;
  overflow-y: auto;
}

.print-modal h5 {
  margin: 0 0 0.5rem;
}

.print-modal__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal {
  box-sizing: content-box;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0 5px 0 6px;
  border-radius: 4px;
  width: 22px;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  cursor: pointer;
}

.close-modal:hover {
  background: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.close-modal:active {
  animation: press-cart 150ms linear;
}

.print-modal img {
  max-width: 100%;
  max-height: 60vh;
  display: block;
  margin: 1rem auto;
}

.print-modal__flex h2,
.print-modal__flex p {
  margin: 0 1rem;
}

@media (max-width: 850px) {
  .print-orders {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .print-orders {
    width: 280px;
    margin: 4rem auto 0 5rem;
    /* text-align: left; */
  }

  .print-orders:only-of-type(4) {
    margin: 4rem auto 0 !important;
  }

  .print-orders .brand-backdrop {
    left: -1.5rem;
    transform: skew(7deg) rotate(-7deg);
  }

  .print-orders .brand-backdrop::after {
    transform: rotate(7deg);
  }

  .print-orders:nth-of-type(4) .brand-backdrop {
    transform: skew(7deg) rotate(7deg);
  }

  .print-orders:nth-of-type(4) .brand-backdrop::after {
    transform: rotate(-7deg);
  }

  .print-orders h2 {
    text-align: left;
    margin-bottom: 0rem;
    font-size: 1.2rem;
  }

  .print-orders p {
    padding: 0 2.5rem 2.5rem 0;
  }

  .print-orders .print-modal {
    padding: 1rem;
  }

  .print-modal {
    padding: 2rem 1rem;
  }

  .print-modal img {
    width: auto;
    max-width: 100%;
    max-height: 45vh;
  }
}

@media (max-height: 950px) {
  .print-modal {
    top: 88px;
    transform: translate(-50%, 0);
  }

  @media (max-width: 450px) {
    .print-modal {
      top: 60px;
    }
  }
}
